body {
    color:blue;
    text-align: center;
    font-family: Arial;
}
button{
    color: black;
}
h2 {
    color: red;

}

#cabecera {
    background-color: #333;
    border-radius: 1%;
    font-family: 'Courier';
    font-style: italic;
    text-align: left;
    height: 30px;
}
#footer{
    background-color: #333;
}